{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>MICON MEDIA</title>

<!--

Micon Media official website
developed at Dera Mobile Legacy https://deramobilelegacy.netlify.app

-->
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/harini_marine.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <style>
    .form-style-1 .field-textarea{
  	height: 100px;
  }
    </style>
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'home' %}" class="logo">
                            MICON MEDIA
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#products">Products</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 
                            <div class="search-icon">
                                <a href="#search"><i class="fa fa-search"></i></a>
                            </div>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Search Area ***** -->
    <div id="search">
        <button type="button" class="close">×</button>
        <form id="contact" action="#" method="get">
            <fieldset>
                <input type="search" name="q" placeholder="SEARCH KEYWORD(s)" aria-label="Search through site content">
            </fieldset>
            <fieldset>
                <button type="submit" class="main-button">Search</button>
            </fieldset>
        </form>
    </div>

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="static/images/ship.jpg" alt="">
                <div class="text-content">
                  <h5>Micon Media LTD</h5>
                  <a href="#" class="main-stroked-button">Learn More</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="static/images/slide-02.jpg" alt="">
                <div class="text-content">
                  <h3>Top rated movie and comedy based</h3>
                  <h5>Entertainment company</h5>
                  <a href="#" class="main-stroked-button">Read More</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="static/images/slide-03.jpg" alt="">
                <div class="text-content">
                  <h3>Movies from your favorite genres</h3>
                  <h5>Epic | Action | Comedy | Horror | Romance</h5>
                  <a href="#" class="main-stroked-button">Learn More</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About Us</h6>
                            <h2>Micon TV produce trilling movies , dummy words dummy words dummy words dummy words dummy words dummy words</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/images/service-item-01.png" alt="">
                                    <h4>Top Notch</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/images/service-item-01.png" alt="">
                                    <h4>HD</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/images/contact-info-03.png" alt="">
                                    <h4>Entertaining</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/images/contact-info-03.png" alt="">
                                    <h4>Interesting streams</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="main-button-icon">
                                    Learn More <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <p>We are a movie production company. 
                        <br><br>That deals mainly on, hjskhjhj jhskhdj hjkh djhjhvkjhj hjjkh kjhkahjhk ajhkjhj vhj jj jh vjh j vj j jhkjh jjh jshjh jhsjdhj jhjh sjhdjh djh jshj hjahkjshk jhj hjh j aj j ahjh jahjh jahsjh ajshj ahsjhjh ajh jajk sjhdjshk jhdjs hdsh jhjs jhsjh jshj hsjhjhjh jsh j sjh j hsj jaj jasjh jashj hajh jhsah jhjsahj hjashj hjahjh jahj jahj hajh jahj hjahjhjhjsdvhjshdvjhjsdvhjkhsvjhsjhj v asjv jashvjhasjvhajs va sv ahjshjahsjhasjhj</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Services Start ***** -->
    <section class="section" id="features">
        <div class="container">
             <div class="section-heading">
                  <h6 style="color:green;">Our Services</h6><br><br>
                        </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="static/images/features-icon-2.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Movies</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="static/images/features-icon-2.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Comedy</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="static/images/features-icon-2.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>video streaming</h4>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                        <h6>Subscribe to our Newsletters</h6>
                        <h2>Don’t miss this chance!</h2>
                    </div>
                    <div class="subscribe-content">
                        <p>Send us your email so that we can keep you updated with our services</p>
                        <div class="subscribe-form">
                            <form id="subscribe-now" action="" method="get">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12">
                                      <fieldset>
                                        <input name="email" type="text" id="email" placeholder="Enter your email..." required="">
                                      </fieldset>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                      <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Subscribe Now</button>
                                      </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** ProductsArea Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="section-heading">
                 <h6 style="color:green;">Our Products</h6><br><br>
                       </div>
           <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-content">
                           <h4>Marine Lubricant / Grease </h4>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-content">
                           <h4>Marine Chemicals </h4>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-content">
                           <h4>Water Treatment Chemicals</h4>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-content">
                           <h4>Marine Potable Water Test Kits</h4>
                       </div>
                   </div>
               </div>   
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-content">
                           <h4>Lube and Fuel Oil Test Kits</h4>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-content">
                           <h4>Refrigerant Gases R404, R22, R407, R134A, R407C, R410 A etc.</h4>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-content">
                           <h4>Gas Refilling/Exchange Basis (Oxygen, Acetylene)</h4>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-content">
                           <h4>Safety/Pyrotechnics (LSA/ FFA)</h4>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Fire Fighting Equipment, Servicing and Supplies</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Life-Serving Appliances, Servicing and Supplies</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Medical Supplies & Equipment PPE</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Provisions Stores (dry/ fresh/ frozen)</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Cabin Stores</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Bonded Stores</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Laundry Stores</h4>
                    </div>
                </div>
            </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-content">
                           <h4>Electrical Stores</h4>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Medical Stores</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Deck & Engine Stores</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Safety Stores</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Charts and Publications</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Motor Rewinding</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-content">
                        <h4>Underwater Hull Inspection</h4>
                    </div>
                </div>
            </div>
       </div>
    </section>
    <!-- ***** Projects Area Ends ***** -->

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Our Partners</h6>
                        <h2>Our company works with top brands and startups</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div>
                        <p style="color: white;">Successful businesses team up in successful partnerships. 
                            At Harini Marine, we believe that our partnerships help to make us stronger, 
                            enlarge our knowledge base, keep us on our toes. We are a proud member of International 
                            Shipsuppliers & Services Association (ISSA) Through our various collaborations we have 
                            been able to broaden our reach, and keep expanding our horizons. 
                            At present we collaborate with important technological partners, service suppliers, 
                            communication and industry bodies of reference in the transport and marine logistics and 
                            agency sectors. Furthermore, we are 
                            constantly looking for opportunities to continue widening the projection of 
                            our services and the value that we bring to our clients.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contact Us</h6>
                            <h2>Feel free to keep in touch with us!</h2>
                        </div>
                        <ul class="contact-info">
                            <li><img src="static/images/contact-info-01.png" alt="">+233 244 274 466, <br>+233 541 698 701</li>
                            <li><img src="static/images/contact-info-02.png" alt="">info@harini.com</li>
                            <li><img src="static/images/contact-info-03.png" alt="">HOUSE NO. E5 NTHC ESTATES, SAKUMONO, TEMA, GHANA.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="POST">
                            {% csrf_token %}
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label>Email <span class="required">*</span></label>
                                {% render_field feedbackForm.name class="field-long"  %}
                            </div>
                            <div class="col-lg-12">
                            <label>Message <span class="required">*</span></label>
                            {% render_field feedbackForm.feedback id="field5" class="field-long field-textarea"  %}
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" value="Send Feedback" id="form-submit" class="main-button-icon">Send Message Now <i class="fa fa-arrow-right"></i></button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Built with love @ <a rel="nofollow noopener" href="https://deramobilelegacy.netlify.app">Dera Mobile Legacy</a></p>
                        <br>
                        <p style="font-size: 20px;">Copyright &copy; 2021 HARINI MARINE LTD.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a rel="nofollow" href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imgfix.min.js"></script> 
    <script src="static/js/slick.js"></script> 
    <script src="static/js/lightbox.js"></script> 
    <script src="static/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="static/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>
